@import url('https://fonts.googleapis.com/css?family=Caveat|Josefin+Sans:300|Voltaire');

body {
    width: 960px;
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: 'Caveat', cursive;
}


p, ol, ul {
    font-family: 'Josefin Sans', sans-serif;
}

.jobs {
    display: inline-block;
    width: 400px;
}





